@import 'fonts.css'
  
$track-width: 100%
$grey: #cecece
$green: #4d5994

*
  padding: 0
  margin: 0
  box-sizing: border-box

body 
  background-color: #060042
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-family: 'Montserrat', sans-serif

.main
  width: 80%
  height: 500px
  background: white
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 50px
  border-radius: 15px
  padding: 0 30px

.slider
  margin: 0 auto
  width: 100%
  height: auto
  background-color: #fff
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  &__scale
    width: 100%
    height: 20px
    margin-top: 20px
    cursor: pointer
    border-top: 1px solid #bfbfbf
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none    

.scale__numbers 
  width: 100%
  display: flex
  justify-content: space-between
  align-items: flex-start
  font-size: 12px
  color: #bfbfbf

.track
  width: $track-width
  height: 2px  
  background: $grey
  border-radius: 10px
  position: relative
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  
.progress-bar,
.progress-barV
  position: absolute
  width: 0%
  height: 2px
  top: 0
  left: 0
  border-radius: 10px
  background: $green
  z-index: 1 
  pointer-events: none

.label-min,
.label-minV
  width: 25px
  height: 30px
  border-radius: 10px
  position: absolute
  left: -12.5px
  top: -50px
  background: $green
  color: white
  display: flex
  justify-content: center
  align-items: center
  cursor: auto
  font-size: 11px

.label-max,
.label-maxV
  width: 25px
  height: 30px
  border-radius: 10px
  position: absolute
  left: 18.8%
  top: -50px   
  background: $green
  color: white
  display: flex
  justify-content: center
  align-items: center
  cursor: auto
  font-size: 11px
  display: none 

.label-max
  left: 99%

.point-min,
.point-minV
  width: 25px
  height: 25px
  border-radius: 50%
  background: $green
  position: absolute
  z-index: 2
  left: -12.5px
  top: -12px
  cursor: pointer
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none   


.point-max,
.point-maxV
  width: 25px
  height: 25px
  border-radius: 50%
  background: $green
  position: absolute
  z-index: 2
  left: 0px
  top: -12px
  cursor: pointer
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none   
  display: none

.point-max
  left: 99%

.long__numbers
  background-color: #bfbfbf
  position: relative
  height: 25px
  width: 0.15rem
  &-number
    position: absolute
    left: -4px
    top: 28px

.settings,
.settingsV
  width: $track-width
  margin: 0 auto
  height: 200px
  margin-top: 100px
  display: flex
  border: 1px solid #4d5994
  padding: 8px
  flex-direction: column
  border-radius: 4px
  &__min-max
    background: white
    height: 33%
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    border: 1px solid #4d5994
    border-radius: 4px
    & input
      border: 3px solid rgb(77 89 148)
      width: 50px
      padding: 2px
      color: #4d5994
      border-radius: 5px
      margin-left: 20px
      text-align: center
      &:focus
        outline: none


.main-1,
.main-2,
.main-3,
.main-4
  width: 80%
  height: 500px
  background: white
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 50px
  border-radius: 15px
  padding: 0 30px

label
  display: flex
  min-width: 132px
  align-items: center

.stick 
  width: 10px
  height: 1px
  background-color: #bfbfbf
  margin-left: 15px
  transition: all ease .1s

  display: none

.input__current-max
  display: none

.settings__2
  width: 100%
  height: 37%
  flex-wrap: wrap
  border: 1px solid #4d5994
  margin-top: 70px
  border-radius: 4px
  display: flex
  align-items: center
  justify-content: space-around

.checkbox
  width: 15px
  height: 15px
  border: 2px solid #bfbfbf
  border-radius: 3px
  margin-left: 10px
  cursor: pointer
  position: relative
  &::after,
  &::before
    position: absolute
    content: ''
    width: 15px
    height: 2px
    top: 0px
    left: 0px
    background: #ea5036
    display: none
    border-radius: 5px
  &::after
    transform: rotate(55deg)
    left: -5.5px
  &::before
    left: 3px
    width: 12px
    transform: rotate(-55deg)
    
  &__active
    border-color: #4d5994
    &::after,
    &::before
      display: block


.settings__2-div
  display: flex
  align-items:  center

.visible
  display: flex

.hidden 
  display: none !important



@media ( max-width: 700px )
  .settings__min-max
    height: 66%
  .settings__2 
    margin-top: 20px








.sliderV
  flex-direction: row
  justify-content: space-around
  height: 80%
  width: 60%

.trackV
  height: 100%
  width: 2px
  background: $grey
  border-radius: 10px
  position: relative
  cursor: pointer

.scaleV 
  width: 20px
  height: 100%
  position: relative
  border-left: 1px solid #bfbfbf
  margin-top: 0px
  

.scale__numbersV
  height: 100%
  flex-direction: column
  width: 100%
  display: flex
  justify-content: space-between
  align-items: flex-start
  font-size: 12px
  color: #bfbfbf

.long__numbersV
  height: 0.1rem
  width: 25px
  background-color: #bfbfbf
  position: relative

.long__numbers-numberV
  top: -5px
  position: absolute
  left: 33px

.settings__min-maxV
  background: white
  height: 200px
  width: 100%

.settingsV
  width: 50%

.label-minV
  left: -45px 
  top: -16px 

.label-maxV
  left: -45px

.point-maxV
  left: -12.5px

.progress-barV
  width: 3px